USE [master]
GO
/****** Object:  Database [NuxibaDB]    Script Date: 11/7/2021 18:35:30 ******/
CREATE DATABASE [NuxibaDB]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'NuxibaDB', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.MSSQLSERVER\MSSQL\DATA\NuxibaDB.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'NuxibaDB_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.MSSQLSERVER\MSSQL\DATA\NuxibaDB_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [NuxibaDB].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [NuxibaDB]
GO
/****** Object:  Table [dbo].[costos]    Script Date: 11/7/2021 18:35:30 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[costos](
	[tipoDeLlamada] [varchar](15) NOT NULL,
	[costo] [decimal](10, 4) NOT NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[logDial]    Script Date: 11/7/2021 18:35:30 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[logDial](
	[idLlamada] [varchar](10) NOT NULL,
	[fechaDeLlamada] [datetime] NOT NULL,
	[tiempoDialogo] [smallint] NOT NULL,
	[telefono] [varchar](10) NOT NULL,
	[tipoDeLlamada] [varchar](15) NOT NULL
) ON [PRIMARY]
GO
USE [master]
GO



--scripts de prueba

--1
Select * from dbo.logDial l 
Where l.tipoDeLlamada = 'Cel LD' And MONTH(l.fechaDeLlamada) = 2


--2
Select avg(l.tiempoDialogo) as 'Promedio' from dbo.logDial l 
Where l.tipoDeLlamada = 'Cel LD' And MONTH(l.fechaDeLlamada) = 2


--3
Select l.idLlamada, l.tiempoDialogo / 60 as 'Minutos' from dbo.logDial l 
Where  MONTH(l.fechaDeLlamada) = 1